<div class="w-full h-full relative">

    <!-- Game UI -->
    <div class="absolute w-full h-12 z-10 flex items-center font-sans px-12 text-white select-none">
        <div class="mx-2">
            <span class="font-semibold">Moves:</span> {{totalMoves}}
        </div>
        <div class="mx-2">
            <span class="font-semibold">Correct moves:</span> {{totalCorrectMoves}}
        </div>
        <div class="mx-2">
            <span class="font-semibold">Time:</span> {{getTime()}}
        </div>
        <div class="ml-auto flex items-center justify-center space-x-4">

            <div (click)="hint()"
                class="text-xs xl:text-base bg-white rounded-lg px-3 py-1 text-board-green cursor-pointer">
                Hint
            </div>
            <div (click)="options()"
                class="text-xs xl:text-base bg-white rounded-lg px-3 py-1 text-board-green cursor-pointer">
                Options
            </div>
        </div>
    </div>

    <!-- Popup displayed when game finished -->
    <replay-popup (onAction)="replay()"></replay-popup>
    <shuffle-popup></shuffle-popup>
    <options-popup (onClose)="unpause()"></options-popup>

    <!-- The game! -->
    <div id="game"></div>
</div>