<div #popup class="absolute hidden flex inset-0 bg-black/75 select-none">

    <div
        class="z-10 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 border px-6 py-6 bg-white rounded-md shadow-md flex-col items-center">

        <!-- Title -->
        <div class="font-extrabold text-3xl uppercase mb-8 text-center">
            Options
        </div>

        <!-- Options -->
        <div class="m-auto">
            <!-- row -->
            <div class="flex items-center my-3">
                <div class="w-56">
                    Only games without shuffles
                </div>
                <!-- Toggle -->
                <toggle [(check)]="options.noshuffles"></toggle>
            </div>
            <!-- row -->
            <div class="flex items-center my-3">
                <div class="w-56">
                    Gravity
                </div>
                <!-- gravity bot -->
                <div class="flex items-center justify-center space-x-2">
                    <div data-gravity="down"
                        class="gravitybutton border-gray-300 border px-2 py-0.5 text-sm cursor-pointer"
                        (click)="selectGravity($event)">
                        <i class="fas fa-arrow-down"></i>
                    </div>

                    <div data-gravity="up"
                        class="gravitybutton border-gray-300 border px-2 py-0.5 text-sm cursor-pointer"
                        (click)="selectGravity($event)">
                        <i class="fas fa-arrow-up"></i>
                    </div>

                    <div data-gravity="right"
                        class="gravitybutton border-gray-300 border px-2 py-0.5 text-sm cursor-pointer"
                        (click)="selectGravity($event)">
                        <i class="fas fa-arrow-right"></i>
                    </div>

                    <div data-gravity="left"
                        class="gravitybutton border-gray-300 border px-2 py-0.5 text-sm cursor-pointer"
                        (click)="selectGravity($event)">
                        <i class="fas fa-arrow-left"></i>
                    </div>

                    <div data-gravity="no"
                        class="gravitybutton border-gray-300 border px-2 py-0.5 text-sm cursor-pointer"
                        (click)="selectGravity($event)">
                        <i class="fas fa-ban"></i>
                    </div>
                </div>
            </div>

        </div>

        <div class="flex items-center justify-center mt-8">

            <div (click)="hide()"
                class="mx-2 text-xs xl:text-base bg-board-green rounded-lg px-3 py-1 text-white cursor-pointer">
                Ok !
            </div>
        </div>
    </div>

</div>